
#sgcinsc_form {
	background-color:#f0f0f0;
	padding:12px;	
}

#sgcinsc_form .content {
	position:relative;
}

#sgcinsc_form h2.stepmark,
#sgcinsc_form .audible
 {
	display:none;
}

#sgcinsc_form fieldset {
	overflow:hidden;
	padding:12px;
}

#sgcinsc_form .steps ul,
#sgcinsc_form .actions ul
 {
	padding:0;
	margin:0 0 24px 0;
	overflow:hidden;
}

#sgcinsc_form .finalcheckbox  {
	float:left;
	padding:0 9px 9px 9px;
	background-color:#61B3C9;
	border-radius:5px;
}

#sgcinsc_form .finalcheckbox label.error {
	left:70px;
	min-width:400px;
}

#sgcinsc_form .final-control-label {
	width:90px;
}

#sgcinsc_form .steps ul li,
#sgcinsc_form .actions ul li
 {
	list-style:none;
	margin-bottom:0;
	margin-left:0;
}

#sgcinsc_form .steps ul li:before,
#sgcinsc_form .actions ul li:before {
	content:'';
}

#sgcinsc_form .steps ul {
	/*background-color:#ccc;*/
}

#sgcinsc_form .actions {	
}

#sgcinsc_form .actions ul li a {
	float:left;				
	margin-left:10px;
}

#sgcinsc_form .steps ul li a
 {
	float:left;
	display:inline-block;
	padding:6px;
	background-color:#ccc;
	margin-right:35px;	
	color:#333;
	text-decoration:none;
	position: relative;
	width:191px;
}

#sgcinsc_form .steps ul li a {
	position:relative;
    display:block;
    width:auto;    
    margin-right: 18px;
    padding:6px;
    float: left;    
    color:#333;
    background: #ccc;
    border-radius:6px;        
}

#sgcinsc_form .steps ul li.current a {
	background-color:#196BB9;
	color:white;
}



#sgcinsc_form .controls label.error {
	font-size:11px;
	color:#b90000;
}

#sgcinsc_form .acleitemcurso {
	float:left;
	padding:0;
	width:99%;
	margin:1% 1% 0 0;
	background-color:#B0CF89;
	min-height:70px;
	border-radius:6px;
	position:relative;
	overflow:hidden;
}

#sgcinsc_form .acleitemcurso .control-label {
	width:100%;
	text-align:left;
	height:60px;
	margin-bottom:0;
}

#sgcinsc_form .acleitemcurso .controls {
	margin-left:0;
	position: absolute;
	right:6px;
	bottom:6px;
}


#sgcinsc_form .control-group.alert {
	color:#112C38;
}

#sgcinsc_form .control-group.alert .controls{
	margin-left:0;
}

#sgcinsc_form .control-group.alert .controls .input {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}

#sgcinsc_form .control-group.alert label {
	text-align:left;
	font-size:18px;
}

#sgcinsc_form .acleitemcurso.selected,
#sgcinsc_form .acleitemcurso.selected:hover
 {
	background-color:#FD9D53;
}

// #sgcinsc_form .acleitemcurso.preinsc,
// #sgcinsc_form .acleitemcurso.preinsc.selected
// #sgcinsc_form .acleitemcurso.preinsc:hover
//  {
// 	background-color:#FD9D53;
// }

#sgcinsc_form .acleitemcurso.preinsc .aclename {
	padding-right:26px;
}

#sgcinsc_form .acleitemcurso.preinsc span.in {
	display:inline-block;
	font-size:11px;
	color:white;
	background-color:#C23B39;
	padding:3px 24px;
	line-height:12px;
	position: absolute;
	right:-22px;
	top:10px;
	transform:rotate(45deg);
}

#sgcinsc_form .acleitemcurso.selected .aclename {
	color:#AC4E28;
}

#sgcinsc_form .acleitemcurso:hover {
	background-color:#D8E7C5;
}

#sgcinsc_form .masinfocurso {
	display:block;
	font-size:12px;
}

#sgcinsc_form .aclecupos {
	font-size:14px;
	display:block;		
}

#sgcinsc_form .aclecursostabla {
	border:1px solid #ccc;
	background-color:white;
	font-size:13px;
	padding:6px;
	overflow:hidden;
}

#sgcinsc_form .mdia {
	display:none;
}

#sgcinsc_form .preinsc {
	color:#112C38;
}

#sgcinsc_form .input-prepend input.input-xlarge {
	width:210px;
}

/* Nueva Tabla con Divs para móviles */

#sgcinsc_form .acleheading div,
#sgcinsc_form div.curso
 {
	float:left;
	width:17%;
}

#sgcinsc_form .acleheading div.fcol,
#sgcinsc_form div.fcol
 {
	width:15%;
	float:left;
	font-weight:normal;
	font-size:18px;
	color:#0471AB;
	font-family:'Raleway', sans-serif;
}

#sgcinsc_form .acleheading {
	padding:6px;
	background-color: #f0f0f0;
	margin-bottom:6px;
	overflow: hidden;
}

#sgcinsc_form .acleheading div.curso {
	font-size:18px;
	font-weight:normal;
	font-family:'Raleway', sans-serif;
}

#sgcinsc_form .bloque2 {
	clear:both;
} 



#sgcinsc_form .aclecursostabla span.aclename {
	font-weight:normal;
	font-size:16px;
	line-height:1.1em;
	color:#334B14;
	display:inline-block;
	padding:3px 6px;
	font-family:'Raleway', sans-serif;
}


#sgcinsc_form .aclecupos-0, #sgcinsc_form .aclecupos-0:hover,
#sgcinsc_form .aclecupos--1, #sgcinsc_form .aclecupos--1:hover
 {
	background-color:#ccc;
	display:none;
}

#sgcinsc_form .aclecupos-1 strong.full,
#sgcinsc_form .aclecupos-0 strong.full {
	display:block;
	clear:both;
	text-transform:uppercase;
	position: absolute;
	bottom:0;
	left:6px;
}

#sgcinsc_form label.error, #sgcinsc_form label.valid {
	font-size:12px;
	display:block;
	padding:3px;
	border-radius:4px;
}

#sgcinsc_form .controls {
	position:relative;
}

#sgcinsc_form .sincursos {
	display: block;
	text-align: center;
	text-indent:-9999em;
}

#sgcinsc_form #ajaxErrorPlace .error {
	position:static;
	font-size:18px;
	margin:12px 0;
	padding:12px;
	display:inline-block;
}

#sgcinsc_form label.error {
	background-color:#FFBBBB;
	position:absolute;
	top:0;
	left:300px;
}

#sgcinsc_form label.error.valid {
	background-color:#D8E7C5;
	color:#567E22;
}

#sgcinsc_form .help-block {
	font-size:12px;
	margin-top:5px;
}

/* Media Queries */

@media screen and (max-width:970px) {
	#sgcinsc_form label.error {
		position: relative;
		left: 0;
		margin-top:6px;
	}

	#sgcinsc_form .steps ul li a {
		margin-top:10px;
	}
	
	#sgcinsc_form .acleitemcurso {
		width:97%;
	}
	#sgcinsc_form em.sincursos {
		display:none;
	}

	#sgcinsc_form .acleheading {
		display:none;
	}

	#sgcinsc_form .horario.fcol {
		width:100%;
		float:none;
		font-size:24px;
		margin:6px 0;
	}

	#sgcinsc_form div.curso
	 {
	 	width:100%;
	 	float:none;
	 }

	 #sgcinsc_form .mdia {
	 	display:block;
	 	font-size:18px;
	 	font-weight:bold;
	 	margin:12px 0;
	 }
}

/* Tabla de vista pública */

.filteracles {
	background-color:#f0f0f0;
	border-radius:5px;
	overflow:hidden;
}

.filteracles select, .filteracles .btn {
	margin:0;
}

.filteracles div.selecthold {
	float:left;
	width:260px;
	margin:0 24px 24px;
}

.filteracles .btn {
	float:left;
	margin-top:50px;
}

@media screen and (max-width:480px) {
	.filteracles .btn {
		float:none;
		margin:0 0 12px 24px;
	}

	.dia.noacles h1 {
		display:none;
	}
}

.filteracles div.selecthold h4 {
	margin-bottom:6px;
}

.alertacle span {
	font-weight:bold;
}

.filteracles h2 {
	margin:0 0 0 24px;
}

.filteracles p {
	margin:24px 24px 0;
}

.publicacles .acleitem {
	padding:6px;
	background-color:#B0CF89;
	color:#334B14;
	margin:0 0 12px 0;
	border-radius:5px;
}

.publicacles .acleitem.open-1 {
	background-color:#f0f0f0;
	color:#ccc;
	display:none;
}

.publicacles .acleitem.open-1 span.nocupos {
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

.publicacles .acleitem.open-1 h4 {
	color:#555;
}

.publicacles .acleitem h4 {
	margin-top:0;
	margin-bottom:6px;
	color:#334B14;
}

.publicacles .acleitem dl, 
.publicacles .acleitem dd
 {
	padding:0;
	margin:0;
	font-size:14px;
}

.acleitem p.admincupos {
	font-size:11px;
	background-color:#6B8C3F;
	color:white;
	border-radius:3px;
	display:inline-block;
	padding:3px;
}

div.btncontainer {
	clear:both;
	overflow: hidden;
	margin:24px 0;
	padding:12px;
}

#inscboton.btn {
	width:200px;
	height:40px;
	float:left;
	margin:0 12px 12px 0;
	background-color:#ef4500;
	background-image:none;
	}

#inscboton.disabled {
	background-color:#555;	
}

#inscboton.btn:hover {
	box-shadow:0 2px 4px #333;
}


.datos-alumno.well,
.datos-apoderado.well,
.datos-acle.well
 {
	background-color:white;
}
